
  <!-- Footer -->
  <footer class="bg-dark py-5 border-top border-light fs-70 small">
    <div class="container">
      <div class="small text-center text-muted">Site réalisé par <a href="{{ creator.url }}">{{creator.name }}</a></div>
      <div class="small text-center text-muted">Mis à jour: {{moment '' "LL" locale}}</div>
    </div>
  </footer>
  
  
  
