
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{data.site.name}} - {{title}}</title>

  <!-- Font Awesome Icons -->
  <link href="/statics/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="/statics/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="/assets/app.css" rel="stylesheet">

</head>
