<!DOCTYPE html>
<html lang="en">

{{> metas }}

<body id="page-top">

  {{> navigation }}
  
  
  {{#if paths.dir}}
	<!-- Sous répertoire -->
    {{> masthead}}
    {{#if contents}}{{> page}}{{/if}}
    {{#each (match @root.$ (concat  paths.dir '/*/index.md') sort='path')}}
		  {{> section}}		
    {{/each}}
  {{else}}
    {{> masthead title=data.site.title description=data.site.description}}
    {{#if contents}}{{> page}}{{/if}}
    {{#each (match @root.$ '*/index.md' sort='path')}}
		  {{> section}}		
    {{/each}}
  {{/if}}

  {{> footer }}
  {{> scripts }}

</body>
</html>
