<div class="agenda">
  {{#each (match events (concat '**' paths.dir '/' '**/*.md'))}}
      {{#if (eq paths.dhref ../paths.dhref)}}
        <!-- Event is displayed on page-->
      {{else}}
          {{#if (isFuture date-end) }}
            {{> event }}
          {{/if}}
      {{/if}}
  {{/each}}
</div>
