<head>
	<title>{{ data.site.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ data.site.description }}">
	<meta name="author" content="{{ author }}">
	<link rel="icon" href="/statics/favicon.png">
	<!-- Custom styles for this template -->
	<link href="/styles/main.css" rel="stylesheet">
</head>
