      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">{{ data.site.title }}</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link {{#eq paths.dir ""}}active{{/eq}}" href="/">Home</a>
            {{#each secteurs}}
              {{#unless private}}
              <a class="nav-link {{#contains ../paths.dhref paths.dhref}}active{{/contains}}" href="{{paths.dhref}}">{{title}}</a>
              {{/unless}}
            {{/each}}
          </nav>
        </div>
      </header>
