      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">{{ data.site.title }}</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            {{#each secteurs}}
              {{#unless private}}
              <a class="nav-link" href="{{paths.dhref}}">{{title}}</a>
              {{/unless}}
            {{/each}}
          </nav>
        </div>
      </header>
